# ECO 255 - Estatística Econômica e Empresarial
##### Ana Flávia Santos Souza - 99069
----

## Cálculo dos índices de preço 
Nesse notebook, vamos aprender a calcular os índices de preço de Laspeyres, Paasche e Fischer utilizando a linguagem Python. 

* Para começar, precisaremos importar algumas bibliotecas que serão usadas para abrir os dados e performar os cálculos necessários para obter os índices.

In [1]:
import pandas as pd 
import numpy as np

### Sobre os dados: 
Os dados usados para essa atividade são fictícios e foram gerados com o único propósito de ilustrar o cálculo dos índices nesse notebook. 

Consideraremos uma cesta de três elementos: **arroz, feijão e carne**. Os dados contém informação sobre **quantidade e preço** desses bens para os anos de **2018, 2019 e 2020**. 

* Vamos ler os dados e checar se foram carregados corretamente.

In [2]:
dados = pd.read_csv("dados_consumo.csv")

In [3]:
dados

    ANO PRODUTO  QUANTIDADE  PRECO
0  2018   arroz          20      9
1  2019   arroz          25     12
2  2020   arroz          26     13
3  2018   carne          26     13
4  2019   carne          30     14
5  2020   carne          31     15
6  2018  feijão          32     17
7  2019  feijão          34     18
8  2020  feijão          39     19

In [4]:
dados.sort_values(["ANO", "PRODUTO"])

    ANO PRODUTO  QUANTIDADE  PRECO
0  2018   arroz          20      9
3  2018   carne          26     13
6  2018  feijão          32     17
1  2019   arroz          25     12
4  2019   carne          30     14
7  2019  feijão          34     18
2  2020   arroz          26     13
5  2020   carne          31     15
8  2020  feijão          39     19

* Abaixo, os dados foram separados por ano para facilitar o cálculo.

In [5]:
dados_2018 = dados[dados["ANO"] == 2018].reset_index()
dados_2019 = dados[dados["ANO"] == 2019].reset_index()
dados_2020 = dados[dados["ANO"] == 2020].reset_index()

In [6]:
dados_2018

   index   ANO PRODUTO  QUANTIDADE  PRECO
0      0  2018   arroz          20      9
1      3  2018   carne          26     13
2      6  2018  feijão          32     17

In [7]:
dados_2019

   index   ANO PRODUTO  QUANTIDADE  PRECO
0      1  2019   arroz          25     12
1      4  2019   carne          30     14
2      7  2019  feijão          34     18

In [8]:
dados_2020

   index   ANO PRODUTO  QUANTIDADE  PRECO
0      2  2020   arroz          26     13
1      5  2020   carne          31     15
2      8  2020  feijão          39     19

### 1. Índice de Laspeyres:
Relembrando a fórmula:

$I_L (p_i| p_0) = \frac{\sum{P_i Q_0}}{\sum{P_0Q_0}}$

In [9]:
def laspeyres_index(base_year, comparison_year):
    index = (base_year["QUANTIDADE"] * comparison_year["PRECO"]).sum() / (base_year["QUANTIDADE"] * base_year["PRECO"]).sum()
    
    return index

### 2. Índice de Paasche:
Relembrando a fórmula:

$I_P (p_i| p_0) = \frac{\sum{P_iQ_i}}{\sum{P_0Q_i}}$

In [10]:
def paasche_index(base_year, comparison_year):
    index = (comparison_year["QUANTIDADE"] * comparison_year["PRECO"]).sum() / (comparison_year["QUANTIDADE"] * base_year["PRECO"]).sum()
        
    return index

### 3. Índice de Fisher:
Relembrando a fórmula:

$I_F (p_i| p_0) = \sqrt{I_L (p_i| p_0) \times I_P (p_i| p_0)}$

In [11]:
def fisher_index(laspeyres, paasche):
    index = np.sqrt(laspeyres * paasche)
    
    return index

### Juntando tudo:

* Vamos calcular os índices de 2020, usando 2018 como base.

In [12]:
laspeyres = laspeyres_index(dados_2018, dados_2020)

print(f'O índice de Laspeyres é de {laspeyres.round(3)}.')

O índice de Laspeyres é de 1.185.

In [13]:
paasche = paasche_index(dados_2018, dados_2020)

print(f'O índice de Paasche é de {paasche.round(3)}.')

O índice de Paasche é de 1.188.

In [14]:
fisher = fisher_index(laspeyres, paasche)

print(f'O índice de Fisher é de {fisher.round(3)}.')

O índice de Fisher é de 1.186.

### Conclusão:

Temos que, entre 2018 e 2020, para esses dados fictícios, houve um aumento de 18.5%, 18.8% e 18.6% nos preços considerando os índices de Laspeyres, Paasche e Fisher, respectivamente. 

___

## Obrigada!