# ECO 255 - Estatística Econômica e Empresarial
##### Ana Flávia Santos Souza - 99069
----

## Cálculo dos índices de preço 
Nesse notebook, vamos aprender a calcular os índices de preço de Laspeyres, Paasche e Fischer utilizando a linguagem Python. 

* Para começar, precisaremos importar algumas bibliotecas que serão usadas para abrir os dados e performar os cálculos necessários para obter os índices.

In [1]:
import pandas as pd 
import numpy as np

### Sobre os dados: 
Os dados usados para essa atividade são fictícios e foram gerados com o único propósito de ilustrar o cálculo dos índices nesse notebook. 

Consideraremos uma cesta de três elementos: **arroz, feijão e carne**. Os dados contém informação sobre **quantidade e preço** desses bens para os anos de **2018, 2019 e 2020**. 

* Vamos ler os dados e checar se foram carregados corretamente.

In [2]:
dados = pd.read_csv("dados_consumo.csv")

In [3]:
dados

    ANO PRODUTO  QUANTIDADE  PRECO
0  2018   arroz          20      3
1  2019   arroz          25      7
2  2020   arroz          27      8
3  2018   carne          28     10
4  2019   carne          31     12
5  2020   carne          32     13
6  2018  feijão          33     15
7  2019  feijão          35     16
8  2020  feijão          37     18

In [4]:
dados.sort_values(["ANO", "PRODUTO"])

    ANO PRODUTO  QUANTIDADE  PRECO
0  2018   arroz          20      3
3  2018   carne          28     10
6  2018  feijão          33     15
1  2019   arroz          25      7
4  2019   carne          31     12
7  2019  feijão          35     16
2  2020   arroz          27      8
5  2020   carne          32     13
8  2020  feijão          37     18

* Abaixo, os dados foram separados por ano para facilitar o cálculo.

In [5]:
dados_2018 = dados[dados["ANO"] == 2018].reset_index(drop=True)
dados_2019 = dados[dados["ANO"] == 2019].reset_index(drop=True)
dados_2020 = dados[dados["ANO"] == 2020].reset_index(drop=True)

In [6]:
dados_2018

    ANO PRODUTO  QUANTIDADE  PRECO
0  2018   arroz          20      3
1  2018   carne          28     10
2  2018  feijão          33     15

In [7]:
dados_2019

    ANO PRODUTO  QUANTIDADE  PRECO
0  2019   arroz          25      7
1  2019   carne          31     12
2  2019  feijão          35     16

In [8]:
dados_2020

    ANO PRODUTO  QUANTIDADE  PRECO
0  2020   arroz          27      8
1  2020   carne          32     13
2  2020  feijão          37     18

### 1. Índice de Laspeyres:
Relembrando a fórmula:

$I_L (p_i| p_0) = \frac{\sum{P_i Q_0}}{\sum{P_0Q_0}}$

In [9]:
def indice_laspeyres(ano_base, ano_comparacao):
    numerador = (ano_base["QUANTIDADE"] * ano_comparacao["PRECO"]).sum()
    denominador = (ano_base["QUANTIDADE"] * ano_base["PRECO"]).sum()
    
    indice =  numerador / denominador
    
    return indice

### 2. Índice de Paasche:
Relembrando a fórmula:

$I_P (p_i| p_0) = \frac{\sum{P_iQ_i}}{\sum{P_0Q_i}}$

In [10]:
def indice_paasche(ano_base, ano_comparacao):
    numerador = (ano_comparacao["QUANTIDADE"] * ano_comparacao["PRECO"]).sum()
    denominador = (ano_comparacao["QUANTIDADE"] * ano_base["PRECO"]).sum()
     
    indice =  numerador / denominador
    
    return indice

### 3. Índice de Fisher:
Relembrando a fórmula:

$I_F (p_i| p_0) = \sqrt{I_L (p_i| p_0) \times I_P (p_i| p_0)}$

In [11]:
def indice_fisher(laspeyres, paasche):
    indice = np.sqrt(laspeyres * paasche)
    
    return indice

### Juntando tudo:

* Vamos calcular os índices de 2020, usando 2018 como base.

In [12]:
laspeyres = indice_laspeyres(dados_2018, dados_2020)

print(f'O índice de Laspeyres é de {laspeyres.round(3)}.')

O índice de Laspeyres é de 1.339.

In [13]:
paasche = indice_paasche(dados_2018, dados_2020)

print(f'O índice de Paasche é de {paasche.round(3)}.')

O índice de Paasche é de 1.358.

In [14]:
fisher = indice_fisher(laspeyres, paasche)

print(f'O índice de Fisher é de {fisher.round(3)}.')

O índice de Fisher é de 1.348.

### Conclusão:

Temos que, entre 2018 e 2020, para esses dados fictícios, houve um aumento de 33.9%, 35.8% e 34.8% nos preços considerando os índices de Laspeyres, Paasche e Fisher, respectivamente. 

___

## Obrigada!